.cardHeading {
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .cardHeading {
    font-size: 20px;
  }
}

.cardHeadingIcon {
  font-size: 25px;
}

.cardHeaderContainer {
  display: flex;
  justify-content: space-between;
}
