.gridStyleOptions {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .gridStyleOptions {
    width: 100% !important;
  }
}

.gridStyleChat {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .gridStyleChat {
    width: 100% !important;
  }
}

.my-card {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .my-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
